@section header{
   @await Html.PartialAsync("_Header")
}

<main>
    <div class="text_section">
        <p>Frontline.Live gives Frontline heroes a quick and easy way to communicate what personal protective equipment (PPE) they need, when and where they need it.</p>
        <p>We know people across our health service, civil service, politics and businesses are working hard to ensure our national heroes have the protection they desperately need and deserve. But in a fast-moving, complex crisis, it is difficult for leaders to have all the data they need to inform the decision-making process. We are aiming to help fill gaps in their knowledge.</p>
        <p>This platform does not connect suppliers directly with hospitals as we have been advised that suppliers need to go through official procurement channels. But we are collecting a database of suppliers and useful resources to support timely procurement across all key worker sectors, from hospitals to delivery services. We hope it helps.</p>

        <h2>About Us</h2>
        <p>Across the UK, citizens are doing their bit to beat the virus and stand in solidarity with our incredible key workers on the frontline as they fight to keep us healthy and safe and to keep the country running in this unprecedented time. As a group of techies, data specialists, social media gurus and digital storytellers, we believe that good, real-time data can help leaders at every level solve problems better and faster. We have come together as a group of citizen volunteers to build FrontLine.Live as an open-data platform to help give our frontline heroes a voice, and to provide regular vital data reports to anyone who needs it.</p>
        <p>FrontLine.Live has been built with love and at speed with no budget. It is not owned by any one company. It is free and open source. We invite other countries to pick it up, run with it and improve it. This is not ours it is OURS!</p>
        <p>Our mission is to become redundant as quickly as possible. If key workers have everything they need to be safe, our job here is done.</p>
        <p>A big thank you to all those who have given up early mornings, late nights and weekends to make this happen including the teams at beep, Mr President, Fourth Angel, The Social Element, Innovation Bubble, CASA, the Fifth Agency, Tom Russell, Dominic Humphrey, Emmy Hoyes, Eva Hoffmann, Benjamin Cameron Smith, Gemma Mortensen, Eva Applebaum, Jen Myatt, Kerry Marks and Gina Soloperto,</p>

        <p>Thanks also to the <a href="https://www.ushahidi.com">Ushahidi</a> project which is providing free use of their data collection platform!</p>
        <p>Among many other possible causes, if you find this project useful, you can <a href="https://www.ushahidi.com/donate">donate to Ushahidi</a> for making a big part of it possible.</p>

        <h2>USE THE CONTACT FORMS IF YOU:</h2>
        <ul>
            <li>Are a frontline worker who prefers to share their need confidentially</li>
            <li>A supplier so we can add you to our resource list</li>
            <li>Have a good news story of how needs have been met in unexpected ways</li>
            <li>Want to volunteer. We would love to hear from project managers, social media gurus, data analysts/ reporters and digital storytellers</li>
        </ul>
        <h2>Thank you!</h2>
    </div>
</main>