@section header{
   @await Html.PartialAsync("_Header")
}

<main>
    <div class="text_section indent_links">
        <h1>Intro Video</h1>
        <p>A brief video about the frontline.live project</p>
        <p>Volunteers helping solve PPE Shortages</p>
        <iframe src="https://player.vimeo.com/video/432241181?title=0&byline=0&portrait=0" width="640" height="361" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p></p>
    </div>
</main>