@section header{
   @await Html.PartialAsync("_Header")
}

<main>
    <div class="text_section indent_links">

        <h1>Media</h1>
        <p>Interview with Dr Maryam Alfa-Wali</p>
        <iframe src="https://player.vimeo.com/video/427037095?title=0&byline=0&portrait=0" width="640" height="361" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p></p>
        
        <h1 class="margin_top">Media Coverage</h1>
        <p></p>

        <h2>BBC</h2>
        <p>14 April 2020</p>
        <a href="https://www.bbc.co.uk/news/technology-52281578">https://www.bbc.co.uk/news/technology-52281578</a>
        <p>A new web-based app is allowing front-line workers to report personal protective equipment (PPE) shortages</p>
        <p></p>

        <h2>The Sun</h2>
        <p>14th April</p>
        <p>A NEW app hopes to give NHS works a desperately needed voice to report crucial PPE shortages and get vital equipment to where it's needed most.As the UK death toll climbs past 10,000, many frontline workers say they feel overwhelmed and unprotected in the face of the coronavirus crisis</p>
        <a href="https://www.thesun.co.uk/tech/11382687/app-allows-nhs-workers-report-ppe-shortages-uk/">https://www.thesun.co.uk/tech/11382687/app-allows-nhs-workers-report-ppe-shortages-uk/</a>
        <p></p>

        <h2>New Digital Age</h2>
        <p>April 14, 2020</p>
        <a href="https://newdigitalage.co/2020/04/14/tech-for-good-frontline-live/">https://newdigitalage.co/2020/04/14/tech-for-good-frontline-live/</a>
        <p>We have all heard that healthcare professionals working at the frontline are not always getting the personal protection equipment they need to keep them safe. So a group of communications experts, data specialists, social media experts and digital storytellers have come together to do something about it</p>
        <p>The tech world often shows its best side in times of crisis. NDA’s new series showcases those companies and the solutions that they are building.</p>
        <p></p>

        <h2>Shropshire Star</h2>
        <p>Frontline.Live allows NHS staff and frontline workers to flag shortages of personal protective equipment (PPE)</p>
        <a href="https://www.shropshirestar.com/news/uk-news/2020/04/15/new-web-app-allows-nhs-staff-to-request-protective-equipment/">https://www.shropshirestar.com/news/uk-news/2020/04/15/new-web-app-allows-nhs-staff-to-request-protective-equipment/</a>
        <p></p>

        <h2>Express and Star</h2>
        <p>Apr 15, 2020</p>
        <a href="https://www.expressandstar.com/news/uk-news/2020/04/15/new-web-app-allows-nhs-staff-to-request-protective-equipment/">https://www.expressandstar.com/news/uk-news/2020/04/15/new-web-app-allows-nhs-staff-to-request-protective-equipment/</a>
        <p></p>

        <h2>Daily Mail</h2>
        <p>Apr 15, 2020</p>
        <a href="https://www.dailymail.co.uk/sciencetech/article-8221259/New-web-app-allows-NHS-staff-request-protective-equipment.html">https://www.dailymail.co.uk/sciencetech/article-8221259/New-web-app-allows-NHS-staff-request-protective-equipment.html</a>
        <p>Web app developed to allow NHS staff on the coronavirus frontline to report shortages of masks, gowns and hand sanitiser and request replacements — but there's no guarantee they'll get them</p>
        <p></p>

        <h2>Chronicle Live</h2>
        <p>13th May </p>
        <a href="https://www.chroniclelive.co.uk/news/north-east-news/ppe-map-screen-newcastle-motorway-18214312">https://www.chroniclelive.co.uk/news/north-east-news/ppe-map-screen-newcastle-motorway-18214312</a>
        <p>PPE map campaign showing areas of greatest need to be shared on big screen in Newcastle</p>
        <p></p>

        <h1 class="first_title resources_main">PODCASTS</h1>
        <p></p>

        <h2>Talking Influence</h2>
        <p>April 21, 2020</p>
        <a href="https://talkinginfluence.com/2020/04/21/in-this-together-the-fifth-partners-with-frontline-live-to-support-health-care-workers/">https://talkinginfluence.com/2020/04/21/in-this-together-the-fifth-partners-with-frontline-live-to-support-health-care-workers/</a>
        <p>The app is a collaboration between technologists, social-enterprise founders and volunteers. It came about after entrepreneur Katz Kiely, chief executive of innovation agency Beep, and her dedicated team identified 25,000 tweets from NHS staff about PPE shortages last month. </p>
        <p>The Fifth joins the team behind Frontline.Live to support frontline healthcare workers in receiving the PPE they need during the crisis</p>
        <p></p>

        <h2>Minter Dial</h2>
        <p>May 3, 2020</p>
        <a href="https://www.minterdial.com/2020/05/katz-kiely-frontline-live/">https://www.minterdial.com/2020/05/katz-kiely-frontline-live/</a>
        <p>Katz is responsible for kickstarting and bootstrapping a marvellous initiative called Frontline.Live. Using her skills in networking and pulling people together, using passion and purpose, in short order, Katz has launched this group of people and an open-access tool to help unmet PPE needs be identified and resolved. An inspiring action with options for you to participate too!</p>
        <p></p>

        <h2>Beyond Busy</h2>
        <p>8th May</p>
        <a href="https://getbeyondbusy.com/e/getting-ppe-to-the-frontline-with-katz-kiely-38703378de13ec/">https://getbeyondbusy.com/e/getting-ppe-to-the-frontline-with-katz-kiely-38703378de13ec/</a>
        <p>Graham speaks with digital change specialist Katz Kiely, about the need for cultural transformation within the health sector, and how operating with compassion is just good business.Katz is leading a volunteer led initiative to help frontline NHS workers get the personal protective equipment (PPE) that they need to work more safely</p>
        <p></p>

        <h2>Modo 25</h2>
        <p>10th May</p>
        <a href="https://modo25.com/insights/turning-hope-into-action-open-platform-and-open-mind-with-katz-kielys-frontline-live/">https://modo25.com/insights/turning-hope-into-action-open-platform-and-open-mind-with-katz-kielys-frontline-live/</a>
        <p>The key learnings for businesses are threefold: Don’t be afraid to ask your frontline team what they need in real-time. You’re only as strong as your network. Tap into your passion and build a team around a solid purpose</p>
        <p></p>

        <h2>One Health Tech</h2>
        <p>13th May</p>
        <a href="https://www.onehealthtech.com/podcast/episode/c40dd72e/delivering-a-crisis-response-through-healthtech-the-case-of-frontline-map">https://www.onehealthtech.com/podcast/episode/c40dd72e/delivering-a-crisis-response-through-healthtech-the-case-of-frontline-map</a>
        <p>PPE has become embedded in the mind of the nation as the embodiment of how the nation’s frontline workers are managing in the Covid19 pandemic. PPE shortages and disparities in provision have dominated the headlines, and in an effort to address this digital entrepreneur Katz Kiely founded Frontline Live. In this podcast, Clare chats with Katz about how Frontline was set up in the space of 2 weeks and is already having an impact on getting PPE to where it’s needed</p>
        <p></p>

        @*<h2>And of course the 3 ads however we want to show them</h2>*@
        <p></p>
    </div>
</main>