@section header{
   @await Html.PartialAsync("_Header")
}

<main>
    <div id="suppliers_wrap">

        <iframe id="suppliers_frame"
                src="https://datastudio.google.com/embed/reporting/d8355892-f7b0-4f76-8c15-43b7aeff2648/page/yL3MB" frameborder="0" style="border:0" allowfullscreen>
        </iframe>


    </div>
</main>