@section header{
   @await Html.PartialAsync("_Header")
}

<main>
    <div class="text_section indent_links">

        <h1 class="first_title resources_main">Resources</h1>
        <p></p>

        <h3>NHS guidance on manufacturing PPE</h3>
        <p>Guidance for new high volume manufacturers of COVID-19 Personal Protective Equipment</p>
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/878115/opss-covid-19-guidance-to-businesses-high-volume-manufacture-of-ppe-version-1.pdf">https://assets.publishing.service.gov.uk</a>

        <h3>NHS Specification for Personal Protective Clothing (PPE)</h3>
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/877387/Specification_for_Personal_Protective_Clothing__PPE__to_include__Gowns__Surgical_Face_mask__Respirator_masks__Eye_Protection__Protective_Coveralls.pdf">https://assets.publishing.service.gov.uk</a>

        <h3>European Standards relevant to PPE for COVID-19</h3>
        <a href="https://www.bsigroup.com/en-GB/topics/novel-coronavirus-covid-19/medical-devices-ppe/">https://www.bsigroup.com</a>

        <h3>Offer support to the NHS as a supplier</h3>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=mbNygumLpkWaLEkw6Ma9aGq8Zn6NR2tJgqjiJleeoYZUNDZDTUxIRVg2WE5FTTkzNkNJVjFGM1NBVC4u">https://forms.office.com</a>

        <h3>Offer support to the NHS in logistics and other capacities</h3>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=mbNygumLpkWaLEkw6Ma9aMU0f5SZn4ZFgvcPI4SFkLlUMkwwN1IzMUpXODgxMlJEWVpZNVNPSE1XUi4u">https://forms.office.com</a>

        <h3>Offer various support to the government</h3>
        <p>Including: hotel rooms; transport and logistics, for moving goods or people; manufacturing equipment; warehouse or office space, for medical use or storage; expertise or support on IT, manufacturing, construction, project management, procurement or engineering; social care or childcare</p>
        <a href="https://www.gov.uk/coronavirus-support-from-business">https://www.gov.uk</a>

        <h3>NHS Guidance on innovative designs</h3>
        <p>Knowledge and Information Zone at the NHS National Innovation Centre</p>
        <a href="http://knowledge.nic.nhs.uk">http://knowledge.nic.nhs.uk</a>

        <h3>Guide to becoming an NHS supplier, including the Supplier Code of Conduct</h3>
        <a href="https://www.supplychain.nhs.uk/suppliers/useful-information/">https://www.supplychain.nhs.uk</a>

        <h3>Schoolgoggles4nhs</h3>
        <p>Raising awareness to help schools support their local NHS</p>
        <a href="https://www.schoolgoggles4nhs.com">https://www.schoolgoggles4nhs.com</a>

        <h3>Obetech Medical</h3>
        <p>Obetech Medical have managed to secure priority access to low-cost wholesale medical supplies, for example: N95 masks, KN95 respirator masks, surgical masks, gowns, coveralls</p>
        <a href="https://obetechmedical.com/">https://obetechmedical.com/</a>

        <h3>Open Opps</h3>
        <p>Supplier Search is a way for public sector buyers to find critical suppliers during the COVID-19 crisis, with a track record of supplying the public sector.</p>
        <a href="https://openopps.com/insights/contracts/summary/">https://openopps.com</a>

        <h3>For The Love Of Scrubs </h3>
        <p>This group was formed by Ashleigh Linsdell after identifying to shortage in supply for scrubs to frontline NHS staff during the 2020 COVID-19 Epidemic.</p>
        <a href="https://m.facebook.com/groups/1500699350098765">https://m.facebook.com</a>

        <h3>The Nead</h3>
        <p>The National Equipment Appeal Database has been designed and delivered to co-ordinate the collection of civilian-held personal protective equipment and distribute those item</p>
        <a href="https://www.thenead.co.uk/">https://www.thenead.co.uk/</a>

        <h3>Donate your PPE</h3>
        <p>This is a voluntary campaign started, Michael Buick, a furniture maker whose father is at risk from Corona and whose partner is an intensive care nurse.</p>
        <a href="https://www.donateyourppe.uk">https://www.donateyourppe.uk</a>

        <h3>VirtualStock Suppliers</h3>
        <p>We enable healthcare suppliers to boost sales, increase range and expand reach by allowing them to display their entire catalogue</p>
        <a href="https://www.virtualstock.com/suppliers/?_ga=2.36426912.1633076221.1585244673-364734424.1585244673">https://www.virtualstock.com</a>

        <h3>Masks for NHS Heroes</h3>
        <p>'Masks for NHS Heroes' are raising funds to provide Personal Protective Equipment (PPE) to protect healthcare workers against the Coronavirus while caring for sick patients</p>
        <a href="https://www.crowdfunder.co.uk/masks4nhsheroes">https://www.crowdfunder.co.uk</a>

        <h3>The Coronavirus Tech Handbook</h3>
        <p>Crowd-sourced library for technologists, civic organizations, public and private institutions, researchers, and specialists of all kinds working on responses to the pandemic. It is a rapidly evolving resource with thousands of expert contributors.</p>
        <a href="https://coronavirustechhandbook.com/home">https://coronavirustechhandbook.com</a>

    </div>
</main>