@page
@model AccessDeniedModel

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <div class="title_area">
        <h2>You do not have access to this resource</h2>
    </div>

</main>
