@page
@model ForgotPasswordConfirmation

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <div class="title_area">
        <h2>Reset password email sent</h2>
        <p>(Please check the spam folder if you don't see the email in your inbox.)</p>
    </div>

</main>

