@page
@model ForgotPasswordConfirmation

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <div class="title_area">
        <h2>Please check your email to reset your password</h2>
    </div>

</main>

