@page
@model LogoutModel

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <div class="title_area">
        <h2>You have successfully logged out of the application</h2>
    </div>

</main>