@page
@model RegisterConfirmationModel

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <div class="title_area">
        <h1>Please check your email to confirm your account.</h1>
    </div>

</main>
