@page
@model ResetPasswordConfirmationModel

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <div class="title_area">
        <h2>Your password has been reset. Please  <a class="link_like_hover" href="./Login">log in</a></h2>
    </div>

</main>

