@using Microsoft.AspNetCore.Identity
@using Web.Db
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div id="title_bar">
        <span id="icons">

            <a id="logo" href="/" title="Home">
                <img alt="Frontline.live" class="logo-image" src="/images/frontline_map_logo.png">
                <span>
                    Admin Portal
                </span>
            </a>

            @if (SignInManager.IsSignedIn(User))
            {
                <a id="account"
                   href="/admin"
                   class="smlogo faa-parent animated-hover">
                    <i class="faa-tada far fa-user fa-4x"></i>
                </a>
            }
           
        </span>

        <nav>
            <ol>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a href="/requests">Requests</a></li>
                }
            </ol>
        </nav>
    </div>