@using Web.Infrastructure
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name=”description” content="We connect UK Healthcare professionals with PPE suppliers near you. Report your PPE shortage and we'll put it on the map." />
    <title>Putting PPE Shortages & Suppliers on the Map | Frontlive.live</title>
    @await Html.PartialAsync("_Favicon")
    @await Html.PartialAsync("_Fonts")
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <script src="https://kit.fontawesome.com/e10dd0382c.js" crossorigin="anonymous"></script>
    <script src="/polyfills.js"></script>
    @*less compiled on server = PRODUCTION *@
    <link href='/style.css' rel='stylesheet' />
    @*less with js for easy DEBUG *@
    @*<link rel="stylesheet/less" type="text/css" href="/style.less" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js"></script>*@
    @* end less with js for easy DEBUG *@
    <link href='/L.Control.Layers.Tree.css' rel='stylesheet' />
    <link href="/js/noty.css" rel="stylesheet" />
    <link href="/js/metroui.css" rel="stylesheet" />
    <link href="/js/animate.css" rel="stylesheet" />
    <script src="~/js/noty.min.js"></script>
    <script src="~/noty.messenger.js"></script>
    <script src="~/help.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170651121-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-170651121-1');
    </script>
</head>
<body class="@Helper.GetBodyClass(ViewData)">
<header>
    @RenderSection("header", required: false)
</header>
@RenderBody()

<!-- Messages here -->
@await Component.InvokeAsync("Messages")
<!-- End Messages -->

<footer>
    @await Html.PartialAsync("_Footer")
</footer>

@RenderSection("scripts", required: false)
</body>
</html>