<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <aspNetCore>
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT"
                               value="Production"
                               xdt:Locator="Match(name)"
                               xdt:Transform="SetAttributes" />
		<environmentVariable name="ASPNETCORE_HTTPS_PORT"
							xdt:Locator="Match(name)"
							xdt:Transform="Remove" />
		<environmentVariable name="COMPLUS_ForceENC"
							xdt:Locator="Match(name)"
							xdt:Transform="Remove" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>